// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.



// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif ;
$font-family-serif:      'Poppins', Georgia, "Times New Roman", Times, serif ;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace ;
$font-family-base:       $font-family-serif;

// Colors

$red: #B71C1C;
$white: #fff;

// Classes
//
.bg-dankness {
	background-color: $red;
}

.jumbotron {
	background-image: url('./img/mountainvalley.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.jumbotron h1{
	color: $white;
}

.jumbotron p{
	color: $white;
}

.display-3 h1{
	color: $white;

}

.btn {
	background-color: $red;
	border-color: $red;
}

.card {
	background-color: $red;S
}



